@charset "utf-8"

#rails_admin_model_settings_wrapper

  #rails_admin_model_settings
    .hidden, .filtered
      display: none

    .error
      color: red

    .success
      color: green

    .setting_block
      &:hover
        background-color: lightgrey
        .form-horizontal
          background-color: lightgrey
      &.new-setting
        background-color: grey
        .form-horizontal
          background-color: lightgrey
      span
        margin-right: 10px
      .setting_value
        margin-left: 10px
        padding-bottom: 10px
        border-bottom: 1px dotted grey

      form
        .extra_buttons
          [name="_add_another"], [name="_add_edit"]
            display: none


  .right-offset
    float: right
